* { 
    -webkit-font-smoothing: antialiased;
    -webkit-font-feature-settings: antialiased;
    -moz-font-feature-settings: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "cv11", "salt", "ss01", "ss03", "cv01", "cv02", "cv03",
      "cv04", "cv05", "cv06", "cv09", "cv10";
    letter-spacing: 0.1em;
  }